# Variables de entorno
.env

# Jest Coverage
coverage/

# Backups de la base de datos
backups/

# Salida del JavaScript compilado desde TypeScript
dist/

# La cache de dependencias de npm
node_modules/

# SonarQube Comunnity
.scannerwork/
