# Ignora el lockFile y package.json
package-lock.json
package.json

# Ignora la configuración del compilador de TypeScript
tsconfig.json
tsconfig.test.json

# Ignora el workflow de GitHub Actions
.github/workflows/ci.yml

# Ignora el docker-compose de docker
docker-compose.yml

# Ignora el Readme
README.md
